<div style="padding: 16px;" *ngIf="showContent">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/backoffice">{{'BACKOFFICE' | translate}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/backoffice-exams">{{'EXAMS' | translate}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/backoffice-exams-lessons/{{examId}}">{{'EXAM_LESSONS' | translate}}</a></li>
        <li class="breadcrumb-item active">{{lesson ? lesson.title : "ADD_LESSON" | translate}}</li>
      </ol>
  <h5 class="col-md-12 titleHeader" *ngIf="lessonId != 'new'">{{"EDIT_LESSON" | translate}} {{lesson ? lesson.title : ""}}</h5>
  <h5 class="col-md-12 titleHeader" *ngIf="lessonId == 'new'">{{"CREATE_LESSON" | translate}}</h5>
  <form [formGroup]="form">
      <div class="form-group row">
        <label for="example-text-input" class="col-md-2 col-form-label">{{"LESSON_NAME" | translate}}</label>
        <div class="col-md-10">
          <input class="form-control" type="text" value="{{lesson ? lesson.title : ''}}" formControlName="title" id="example-text-input">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 control-label" for="textInput-markup">{{"FILE" | translate}}</label>
        <div class="col-md-10">
          <span *ngIf="lesson && lesson.file !== ''" (click)="download()" style="cursor: pointer;" title="{{ 'DOWNLOAD_FILE' | translate }}"><i class="fa fa-file"></i> {{lesson.name}}</span>
          <label class="btn btn-sm btn-link text-muted" for="fileUrl">
            {{( lesson && lesson.file === '' ? 'ADD_FILE' : 'CHANGE_FILE') | translate}}
            <input type="file" id="fileUrl" name="fileUrl" (change)="uploadFile($event)" hidden>
          </label>
        </div>
      </div>
  </form>

  <div class="form-group row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <button type="submit" (click)="submit()" class="btn btn-outline-warning" *ngIf="lessonId != 'new'" [disabled]="lesson && lesson.file === ''">{{'UPDATE' | translate}}</button>
      <button type="submit" (click)="submit()" class="btn btn-outline-success" *ngIf="lessonId == 'new'" [disabled]="lesson && lesson.file === ''">{{'CREATE' | translate}}</button>
    </div>
  </div>
</div>
<div class="spinLoader">
  <i *ngIf="!showContent" class="fa fa-spinner fa-spin" style="font-size: 136px"></i>
</div>