/* You can add global styles to this file, and also import other style files */

@import "variables";

.spinLoader {
    padding: 160px;
    text-align: center;
    width: 100%;
}

button {
    cursor: pointer;
}