<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
      Digital L <i class="fa fa-flask" aria-hidden="true" style="font-size: 25px;"></i> B</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/exams" routerLinkActive="active">{{ 'EXAMS' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/notifications" routerLinkActive="active">{{"NOTIFICATIONS" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/labs" routerLinkActive="active">{{"LAB" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">{{"ABOUT" | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">{{"CONTACT" | translate}}</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/admins" routerLinkActive="active">ADMINS PANEL</a>
      </li>
    </ul>
    
  </div>
  <a class="navbar-brand" (click)="serbian()" style="cursor: pointer;" *ngIf="lang === 'SR'"><i class="fa fa-globe" aria-hidden="true" style="font-size: 25px;"></i><span class="languageLabel"> {{lang}}</span></a>
  <a class="navbar-brand" (click)="english()" style="cursor: pointer;" *ngIf="lang === 'EN'"><i class="fa fa-globe" aria-hidden="true" style="font-size: 25px;"></i><span  class="languageLabel"> {{lang}}</span></a>
</nav>