<div style="text-align:center">
  <img class="picture" [src]="imgSource">
  <h1 style="margin-bottom: 5%;">
    {{'WELCOME' | translate}}{{'APP_NAME' | translate}}!
  </h1>
  <div class="row">
    <div class="col-md-4" style="padding-bottom: 16px;">
      <div class="card text-center">
        <div class="card-header">
          {{ 'EXAMS' | translate }}
        </div>
        <div class="card-block">
          <h5 class="card-title"></h5>
          <p [routerLink]="['/exams']" class="btn btn-outline-danger" style="cursor: pointer;">{{ 'OPEN' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding-bottom: 16px;">
      <div class="card text-center">
        <div class="card-header">
          {{ 'NOTIFICATIONS' | translate }}
        </div>
        <div class="card-block">
          <h5 class="card-title"></h5>
          <p [routerLink]="['/notifications']" class="btn btn-outline-danger" style="cursor: pointer;">{{ 'OPEN' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding-bottom: 16px;">
      <div class="card text-center">
        <div class="card-header">
          {{ 'LABS' | translate }}
        </div>
        <div class="card-block">
          <h5 class="card-title"></h5>
          <p [routerLink]="['/labs']" class="btn btn-outline-danger" style="cursor: pointer;">{{ 'OPEN' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <h6 style="margin-top: 5%;" class="text-muted">{{'FACULTY_NAME' | translate}}</h6>
</div>