<div style="padding: 16px;">
        <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/exams">{{'EXAMS' | translate}}</a></li>
                <li class="breadcrumb-item active">{{exam ? exam.title : ""}} - {{'LESSONS' | translate}}</li>
              </ol>
    <h5 class="col-md-12 titleHeader">{{exam ? exam.title : ""}} {{"LESSONS_TITLE" | translate}}</h5>
    <div *ngIf="lessons && !lessons.length" class="alert alert-danger" role="alert" style="text-align: center;">
       {{"NO_LESSONS" | translate}}
    </div>
    <div class="row">
        <div *ngFor="let item of lessons" class="col-md-6" style="padding-bottom: 16px;">
            <div class="card text-center">
                <div class="card-header">
                    {{item.title}}
                </div>
                <div class="card-block">
                    <h5 class="card-title"></h5>
                    <p class="btn btn-outline-danger" style="cursor: pointer;" (click)="download(item)">{{"DOWNLOAD" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>