<div style="padding-top: 16px;"  *ngIf="showContent">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/backoffice">{{'BACKOFFICE' | translate}}</a>
    </li>
    <li class="breadcrumb-item active">{{'NOTIFICATIONS' | translate}}</li>
  </ol>
  <div class="row">
    <h5 class="col-md-12 titleHeader">{{"NOTIFICATIONS" | translate}}</h5>
    <div class="col-md-5">
      <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start listItem" (click)="addNotification()" style="text-align: center;">
          <div class="d-flex w-100 justify-content-between">
            <button class="btn btn-outline-success" (click)="addNotification()">{{'ADD_NEW_NOTIFICATION' | translate}}</button>
          </div>
        </div>
        <a *ngFor="let item of notifications" class="list-group-item list-group-item-action flex-column align-items-start listItem"
          (click)="selectNotification(item)" [ngClass]="{'activeItem': item.id == selectedItem.id}">
          <div class="d-flex w-100 justify-content-between">
            <button type="button" class="btn btn-link truncate" style="font-size: 18px; font-weight: bold;" (click)="editNotification(item.id)">
              <i class="fa fa-pencil"></i> {{item.title}}</button>
            <small>{{ item.time | date }} {{ item.time | date:'shortTime'}}</small>
          </div>
          <p class="mb-1 truncate">{{item.text}}</p>
        </a>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-1" style="text-align: center;">{{selectedItem ? selectedItem.title : ""}}
            <button type="button" class="close" aria-label="Close" style="cursor: pointer; color: red;"
              (click)="deleteNotification(selectedItem)">
              <span aria-hidden="true">&times;</span>
            </button>
          </h5>
          {{selectedItem ? selectedItem.text : ""}}
        </div>
      </div>
    </div>
  </div>

</div>

<div class="spinLoader">
  <i *ngIf="!showContent" class="fa fa-spinner fa-spin" style="font-size: 136px"></i>
</div>